In [1]:
import pandas as pd

In [2]:
filepath = "../datas/raw/station_occupation.csv"

In [3]:
df = pd.read_csv(filepath, sep=";")

In [4]:
df.head()

,Nom de la gare,Code UIC,Code postal,Segmentation DRG,Total Voyageurs 2023,Total Voyageurs + Non voyageurs 2023,Total Voyageurs 2022,Total Voyageurs + Non voyageurs 2022,Total Voyageurs 2021,Total Voyageurs + Non voyageurs 2021,...,Total Voyageurs 2019,Total Voyageurs + Non voyageurs 2019,Total Voyageurs 2018,Total Voyageurs + Non voyageurs 2018,Total Voyageurs 2017,Total Voyageurs + Non voyageurs 2017,Total Voyageurs 2016,Total Voyageurs + Non voyageurs 2016,Total Voyageurs 2015,Total Voyageurs + Non voyageurs 2015
0,Abancourt,87313759,60220,C,77974,77974,71517,71517,51811,51811,...,42685,42685,40228,40228,43760,43760,41096,41096,39720,39720
1,Agde,87781278,34300,B,757491,946864,689202,861503,561160,701450,...,542288,677860,588297,735372,697091,871364,660656,825820,662516,828146
2,Agen,87586008,47000,A,1640325,2050407,1540511,1925639,1184007,1480009,...,1211323,1514154,1109199,1386499,1194455,1493068,1141620,1427026,1183150,1478938
3,Agonac,87595157,24460,C,9537,9537,6468,6468,4119,4119,...,2538,2538,1492,1492,1583,1583,1134,1134,1127,1127
4,Aguilcourt - Variscourt,87171702,2190,C,13464,13464,13197,13197,12294,12294,...,8796,8796,6155,6155,7368,7368,8979,8979,9821,9821

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3010 entries, 0 to 3009
Data columns (total 22 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Nom de la gare                        3010 non-null   object
 1   Code UIC                              3010 non-null   int64
 2   Code postal                           3010 non-null   int64
 3   Segmentation DRG                      2943 non-null   object
 4   Total Voyageurs 2023                  3010 non-null   int64
 5   Total Voyageurs + Non voyageurs 2023  3010 non-null   int64
 6   Total Voyageurs 2022                  3010 non-null   int64
 7   Total Voyageurs + Non voyageurs 2022  3010 non-null   int64
 8   Total Voyageurs 2021                  3010 non-null   int64
 9   Total Voyageurs + Non voyageurs 2021  3010 non-null   int64
 10  Total Voyageurs 2020                  3010 non-null   int64
 11  Total Voyageurs + Non voyageurs 2020  3010 non-null   int64
 12  Total Voyageurs 2019                  3010 non-null   int64
 13  Total Voyageurs + Non voyageurs 2019  3010 non-null   int64
 14  Total Voyageurs 2018                  3010 non-null   int64
 15  Total Voyageurs + Non voyageurs 2018  3010 non-null   int64
 16  Total Voyageurs 2017                  3010 non-null   int64
 17  Total Voyageurs + Non voyageurs 2017  3010 non-null   int64
 18  Total Voyageurs 2016                  3010 non-null   int64
 19  Total Voyageurs + Non voyageurs 2016  3010 non-null   int64
 20  Total Voyageurs 2015                  3010 non-null   int64
 21  Total Voyageurs + Non voyageurs 2015  3010 non-null   int64
dtypes: int64(20), object(2)
memory usage: 517.5+ KB

In [6]:
df.drop(columns=["Segmentation DRG"], inplace=True)

In [7]:
df.isna().sum()

Nom de la gare                          0
Code UIC                                0
Code postal                             0
Total Voyageurs 2023                    0
Total Voyageurs + Non voyageurs 2023    0
Total Voyageurs 2022                    0
Total Voyageurs + Non voyageurs 2022    0
Total Voyageurs 2021                    0
Total Voyageurs + Non voyageurs 2021    0
Total Voyageurs 2020                    0
Total Voyageurs + Non voyageurs 2020    0
Total Voyageurs 2019                    0
Total Voyageurs + Non voyageurs 2019    0
Total Voyageurs 2018                    0
Total Voyageurs + Non voyageurs 2018    0
Total Voyageurs 2017                    0
Total Voyageurs + Non voyageurs 2017    0
Total Voyageurs 2016                    0
Total Voyageurs + Non voyageurs 2016    0
Total Voyageurs 2015                    0
Total Voyageurs + Non voyageurs 2015    0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df.to_csv("../datas/cleaned/station_occupation.csv", sep=";", index=False)